<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="text/css/layui.css">
		<link rel="stylesheet" href="text/zd.css">
		<script src="text/layui.js"></script>
		<script src="text/jquery.js"></script>
		
	</head>
	<body>
	{include file='admin/admin/view/head.html'}
		<div class="layui-row">
				<div class="layui-col-md12">
					{include file='admin/admin/view/left.html'}
					
					<div  class="layui-col-md10 pd15">
						<a class="layui-col-md1 layui-btn" href="admin.php?s=admin/textwb/text_add">新增</a>
						<div class="layui-col-md12">&nbsp</div>
						<ul class="layui-col-md12">
						<li class="layui-col-md1 biaoti">排序</li>
						<li class="layui-col-md4 biaoti">标题</li>
						
						<li class="layui-col-md1 biaoti">时间</li>
						<li class="layui-col-md2 biaoti">操作</li>
						</ul>
						<div class="layui-col-md12">&nbsp</div>
						{volist name="text_sel" id="text_sels" }
							<ul class="layui-col-md12 jz1">
								<li class="layui-col-md1">{$text_sels.id}</li>
								<li class="layui-col-md4">{$text_sels.index_text_name}</li>
								<li class="layui-col-md2">{$text_sels.index_text_time}</li>
								<li class="layui-col-md2">
								<a class="layui-btn" href="admin.php?s=admin/textwb/update_textwb&id={$text_sels.id}">修改</a>
								&nbsp;
								<a class="layui-btn" href="admin.php?s=admin/textwb/text_delete_js&id={$text_sels.id}">删除</a></li>
							</ul>
							<div class="layui-col-md12">&nbsp</div>
						{/volist}
					</div>
		
				</div>
		</div>
	</body>
</html>
