<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="text/css/layui.css">
		<link rel="stylesheet" href="text/qt.css">
		<script src="text/layui.js"></script>
		<script src="text/jquery.js"></script>
	</head>
	<body>
		{include file='application/index/view/head.html'}
		<div class="layui-container" >
			<div class="layui-row">
				
					{volist name='xinxi' id='cp' }
					<div class="layui-col-md8" >
						<h1>产品名称:{$cp.product_name}</h1>
						<div class="layui-col-md12">&nbsp;</div>
						<div class="layui-col-md6"><h3>产品发布时间:{$cp.time}</h3></div>
						<div class="layui-col-md12">&nbsp;</div>
					
						{if condition="$cp.photo_url eq null"}
						<div style="width: 300px; height: 300px; display:flex; justify-content:center; align-items:center;">暂无图片</div>
						{else/}
						<div class="layui-col-md12 jz"><img src="{$cp.photo_url}" /></div>
						{/if}
					
						<div class="layui-col-md12">&nbsp;</div>
						
					
						<div style="font-size:24px;" class="layui-col-md12">产品说明:{$cp.product_text}</div>
					</div>
					{/volist}
					<div class="layui-col-md4">
						<div class="layui-col-md12"><h1>其他产品</h1></div>
						<div class="layui-col-md12 jz ">
							{volist name='chanpin' id='qtcp'}
								<div class="layui-col-md12">&nbsp;</div>
								<div class="layui-col-md12 jz">
									<img width="400px" height="180px" src="{$qtcp.photo_url}">
									<div><h2>{$qtcp.product_name}</h2></div>
								</div>
								<div class="layui-col-md12">&nbsp;</div>
							{/volist}
						</div>
					</div>
			</div>
		</div>
		{include file='application/index/view/foot.html'}
		
					<script type="text/javascript">
						
						$.ajax({
										type:"get",
										// headers:{'Content-Type':'application/json;charset=utf8'},
										url:"index.php?s=index/index/bottom",
										success:function(text){
											let texts = JSON.parse(text);
											$("#qq").html("QQ:"+texts[0].qq_text);
											$("#codes").attr("src",texts[0].qr_code_url);
											$("#numbers").html("网站备案编号:"+texts[0].number);
											$("#address").html("地址:"+texts[0].address);
										}
						})
							
					</script>
	</body>
</html>
